/* Token fix */
.fullSizeTokens .sapMTokenText {
    max-width: none !important;
}

.fullSizeTokens .sapMToken {
    float: left;
}

.sapFDynamicPageContent,
.sapFDynamicPageContentFitContainer {
    padding: 2rem 0 0 0;
}